[ctorm]

granules_sqs_queue_url = "https://sqs.us-west-2.amazonaws.com/123456789012/ctorm-dev-granules"

[[ ctorm.source_buckets ]]
bucketname = "nisar-bucket-0"
share = 50
ummg_prefix = "UMMG/FOO_COLLECTION/"
keypair_name = "NISAR"
[[ctorm.source_buckets]]
bucketname = "nisar-bucket-2"
keypair_name = "NISAR"
share = 45
ummg_prefix = "UMMG/BAR_COLLECTION/"
[[ctorm.source_buckets]]
bucketname = "opera-bucket-0"
keypair_name = "OPERA"
share = 5
ummg_prefix = "UMMG/BAZ_COLLECTION/"
